<h1 class='center'>Sign up</h1>
<div class="row">
	<div class="span6 offset3 well">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %>
		  <%= f.email_field :email %></div>

		  <div><%= f.label :password %>
		  <%= f.password_field :password %></div>

		  <div><%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation %></div>

		  <div class='center'><%= f.submit "Sign up", class: "btn btn-large btn-primary" %></div>
		<% end %>
	</div>
</div>	

<div class="row">
	<div class="span6 offset3 center">
		<p>By clicking "Create Account" or "Connect with Facebook," you confirm that you accept the <%= link_to "Terms of Service", "#" %> and <%= link_to "Privacy Policy", "#" %>.</p>
	</div>
</div> 	

<div class="row">
	<div class="span6 offset3 well center">
		<%= render "devise/shared/links" %>
	</div>
</div> 	

